*{
    margin: 0;
    padding: 0;
}
body{
    background: #f5f5f5; 
}
.navbar{
    background: #050505;
    border-radius: 25px;
    display: flex; 
    width: 1140px;
    margin: 1rem auto;  
    padding: .6rem .5rem;
}
.navbar h1{
    color: #cccccc; 
    margin-left: 20px;
    font-family: 'Langar', cursive;
}
.navbar .items{
    display: flex; 
}
.items{
    margin-left: 25%;
    padding-top: 14px;
}
.items ul{
    list-style: none;
}
.items ul li{
    display: inline-block;
    padding: 0 10px;
}
.items ul li a{
    color: #fff ; 
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}
.items ul li a:hover{
    color:#bebebe;
    transition: ease .3s; 
}
.navbar input{
    margin-left: 8%;
    width: 20%; 
    border: none; 
    border-bottom: 1px solid #fff; 
    background: transparent;
    color: #cccccc;
    font-family: 'Poppins', sans-serif;
}
.navbar input:hover{
    border: none;
    border-bottom: 1px solid #fff;
    font-family: 'Poppins', sans-serif; 
}
.first-part{
    padding: 90px 0;
    text-align: center; 
}
.container{
    width: 1140px;
    margin: auto;
} 
.first-part .container h1{
    font-size: 45px;
    color: rgba(0, 0, 0, 1);  
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 35px;
}
.first-part .container p{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 50px;  
    color: #2f323a;
}
.input-1, .input-2{
    width: 30%; 
    padding: 18px;
    border: none;
    border: 1px solid rgba(0, 0, 0, 1); 
    opacity: .8;
    font-family: 'Roboto', sans-serif;
}
.btn{
    background-color: transparent;
    padding: 15px; 
    width: 15%;
    border: none;
    border: 4px solid #000;  
    cursor: pointer;
    color: #000;  
}
.btn:hover{
    padding: 15px;
    border: 4px solid #707070;
    background-color: #000; 
    color: #fff;
    transition: ease-in-out .4s;  
}
.second-part{
    padding: 90px 0;
    text-align: center; 
    background-color: #e6e6e6;
}
.second-part h1{
    font-size: 40px;
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 35px;
}
.second-part .container p{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 50px;  
    color: #2f323a;
}
.second-part .one{
    margin-bottom: 1rem;
}
.second-part .input-3, .second-part .input-4{
    width: 38%; 
    padding: 18px;
    border: none;
    border: 1px solid rgba(0, 0, 0, 1);
    opacity: .9; 
    font-family: 'Roboto', sans-serif; 
}
.second-part textarea{
    width: 83%;
    height: 400px; 
    margin-bottom: 50px;
    border: 1px solid rgba(0, 0, 0, 1); 
    opacity: .6;
    font-size: 18px;
    font-family: Dotum;
}
.second-part textarea:hover{
    opacity: .9;
}
.footer-links{ 
    background: #050505; 
}
.col{
    width: 1140px;
    margin: auto; 
    display: flex;
    padding: 3rem 1rem;
    justify-content: space-around;  
}
.row-1{
    width: 20%;
}
.col .row-1 h3{
    margin-bottom: 1rem;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    color: #cccccc;
    font-family: 'Roboto', sans-serif;
}
.row-1 p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-align: justify;
    color: #707070;
}
.col .row h3{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #cccccc;
}
.row ul{
    list-style: none;
}
.row ul li{
    padding: 2px 0;
}
.row ul li a{
    text-decoration: none;  
    font-family: 'Poppins', sans-serif;
    color: #707070;
}
.row ul li a:hover{
    color: #f5f5f5;
    transition: ease-in-out .3s;
}
.last-style ul{
    list-style: none;
}
.last-style ul li{
    display: inline-block; 
    color: #707070;
    padding: .5rem 10px;  
    text-transform: uppercase;
    border-right: 2px solid #fff; 
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}
.last-style ul li:hover{
    color: #f5f5f5;
    transition: ease-in-out .3s;
}
hr{
    background-color: #fff;
    margin-top: 1.5rem;
} 
.last-style p{
    color: #707070;
    text-align: center;
    padding: 1rem 0;
    font-family: 'Poppins', sans-serif;
}
.last-style .name{
    color: #f5f5f5;
    cursor: pointer;  
}
.social-icon{
    text-align: center;
    margin: 3rem 0;
}
.social-icon i{
    color: #fff;
    margin: 0 1rem;
    padding: 15px;
    border: 1px solid #fff;
    border-radius: 50%;  
}


 